<!DOCTYPE html>
<html>
    <div style="text-align: center;">
        <head>
            <title>{% block head_title %}{% endblock head_title %}</title>
        </head>
    <body>
        {% block body %}
        {% block content %}
        {% endblock content %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
    <p>&nbsp;</p>
        <div style="text-align: center;">
            <button> <a href="/"> Главная страница</a> </button>
        </div>
    </div>
</html>