{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1><font size="8"> Новости </font></h1>
    <h3><font size="6"> Всего статей: {{ news|length }} </font></h3>
<p>&nbsp;</p>
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}
<p>&nbsp;</p>
<div style="text-align: center;">
    <button> <a href="/news/create/"> Создать новость</a> </button>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <button> <a href="/article/create/"> Создать статью</a> </button>
</div>
<p>&nbsp;</p>
    <hr>
    {% if category_news_list %}
        <table align="center" cellpadding="20" width="100%">
            <tr>
                <td><strong><font size="6">Заголовок</font></strong></td>
                <td><strong><font size="6">Дата публикации</font></strong></td>
                <td><strong><font size="6">Статья</font></strong></td>
                <td><strong><font size="6">Категория</font></strong></td>
            </tr>
            {% for post in category_news_list %}
            <tr>
                <td><font size="4"><em>{{ post.heading|censor }}</em></font></td>
                <td><font size="4"><em>{{ post.datetime|date:'d M Y' }}</em></font></td>
                <td><font size="4"><em>{{ post.text|truncatechars:20|censor }}</em></font></td>
                <td>{% for category in post.dopCategory.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category.categories }}</a>
                {% endfor %}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2> Новых новостей нет. </h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}