<html>
    <head>
        <title>Simple SignUp/SignIn app</title>
    </head>
    <body>
        <div>
            <h1>
                <div style="text-align: center;">
                    <a href="/accounts/login/">Simple SignUp/SignIn app</a>
                </div>
            </h1>
            <div style="text-align: center;">
                <button> <a href="/"> Главная страница</a> </button>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </body>
</html>